<div class="container">

<h1>Lista de Cursos</h1>

<%= link_to "HOME", root_path %>
<br>
<%= link_to "Crear", new_course_path %>

<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Docente</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <th scope="row"><%= course.id %></th>
      <td><%= course.name %></td>
      <td><%= course.teacher_id.blank? ? "no asignado" : course.teacher.name.to_s %></td>
      <td>
        <%= link_to "Eliminar", course_path(course), method: :delete, data: {confirm: "¿Estas seguro?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
